.experts-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 50px;
  grid-column-gap: 10px;
}
.experts-title {
  margin-top: 5rem;
  color: white;
  font-size: 40px;
  font-weight: 800;
  margin-left: 26rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 576px) {
  .experts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
