.service-container {
  margin: 0 20px;
}
.service-container img {
  width: 300px;
  height: 300px;
  margin: 30px;
}
.service-details {
  margin-left: 40px;
  font-size: larger;
  font-weight: 700;
  font-style: italic;
}
.details-title {
  color: white;
}
.enroll-btn {
  background-color: #5da3fa;
  margin-top: 15px;
  padding: 3px 15px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
.enroll-btn:hover {
  background-color: #ff9f4a;
  cursor: grab;
  letter-spacing: 1px;
  transition: 0.7s;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .service-container {
    margin: 0 10px;
  }
  .service-container img {
    width: 200px;
    margin: 0 50px;
  }
}
